/*Phone Size*/
@media only screen and (max-width: 600px) {
	header {
		height: 42px;
		width: 100%;
	}
	
	.nav-header {
		display: none;
	}
	
	/*Since only 3 pages, each label take 1/3 of width.*/
	.nav-ul li{
		float: left;
		width: 33.33%;
    }
	
	.nav-ul a{
		padding:12px 12px;
	}

	/*Avoid conflict with menu*/
	main {
		padding-top: 32px;
	}
	
	main, footer {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	/*Center h1 and table when screen small*/
	h1 {
		text-align: center;
	}
	
	.info-table {
		margin-left: auto;
		margin-right: auto;
	}
}

/*Tablet Size*/
@media only screen and (min-width: 601px) and (max-width: 1000px) {
	/*Menu gose to top when screen become smaller*/
	header {
		height: 42px;
		width: 100%;
	}
	
	.nav-header {
		float: left;
		margin: 4px 16px;
		text-align: center;
		font-family: "Arial Black", Helvetica, sans-serif;
	}
	
	.nav-ul li{
		float: left;
    }
	
	.nav-ul a{
		padding:12px 12px;
	}

	/*Avoid conflict with menu*/
	main {
		padding-top: 32px;
	}
	
	main, footer {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/*PC Screen Size*/
@media only screen and (min-width: 1001px) {
	/*Vertical menu when using large screen*/
	header {
		height: 100%;
		width: 150px;
	}
	
	.nav-header {
		text-align: center;
		font-family: "Arial Black", Helvetica, sans-serif;
	}
	
	.nav-ul a{
		padding:16px 12px;
	}

	/*Avoid conflict with menu*/
	main, footer {
		padding-left: 160px;
		padding-right: 20px;
	}
}

body {
    background-color:#F5F5DC;
}

/*Overall menu style*/
header {
	background-color:#E0E094;
	position: fixed;
	left: 0;
	top: 0;
}

footer {
	font-family: Arial, Helvetica, sans-serif;
}

/*Easier to read*/
p {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
}

h1 {
	font-family: "Lucida Handwriting", Helvetica, sans-serif;
	font-size: 250%;
}

figure.in-text {
	margin: 16px 20px;
}

figure.in-text img {
	width: 100%; 
	height:100%;
}

.info-table {
	border:1px solid black;
	background-image: url("../image/table_background.jpg");
}

.info-table th, td {
	border:1px solid black;
	padding: 3px 15px;
}
	
.nav-ul {
	list-style-type:none;
	margin:0;
	padding:0;
	background-color: #E0E094;
}

.nav-ul li{
    text-align: center;
}

.nav-ul a{
	color:#000000;
	text-decoration:none;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.nav-ul a:hover {
	background-color: #EFEF94;
	color:#CC33CC;
}

.extra-links {
	padding-left:20px;
	margin-top:-10px;
}

.extra-links a{
	text-decoration:none;
}

#intro-video {
	margin-left:20px;
	margin-top:-20px;
}