input {
	outline-style: none;
	border: 1px solid #CCC;
	border-radius: 3px;
	margin: 8px 8px;
}
	
form {
	margin: 0 auto;
	padding: 16px 24px;
	border-radius: 8px;
	box-shadow: 0 4px 20px lightgray;
	text-align:center;
	background-color: #FFF
}

body {
	background-color: #AFEEEE
}

.question {
	border-bottom: 2px double #66ccff;
}